/* App.css */

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  color: #bcbcbc;
  font-family: 'Montserrat', sans-serif;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}

.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}

.icon,
.icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 0fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
  /* background-color: #263043; */
}

/* Header */
.header1 {
  grid-area: header;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  /* background-color: #263043; */
}

.search-add {
  display: flex;
  align-items: center;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-right {
  margin-left: auto; /* Pushes .search-add to the right */
}

.back-btn-header{
  margin-right: auto;
}

.back-btn-header button{
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
.back-btn-header button:hover{
  color: #66afe9;
  transform: translateY(-2px);
}


/* Sidebar */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #263043;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  box-shadow: 0 6px 7px 7px rgba(0, 0, 0, 0.35);

}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px; /* Adjusted padding */
  margin-bottom: 20px;
  position: relative;
}

.sidebar-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20px; /* Adjusted spacing from left */
  right: 20px; /* Adjusted spacing from right */
  height: 2px; /* Thickness of the border */
  background-color: #fff; /* Color of the solid line */
}

.sidebar-title > span {
  display: none; /* Hide any <span> directly inside .sidebar-title */
}

.sidebar-brand {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 250px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  /* margin-right: 10px; Adjust spacing between logo and text */
}



.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  font-size: 18px;
  padding: 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  font-weight: bold;
}

.sidebar-list-item > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #9e9ea4;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.sidebar-list-item > a:hover {
  color: white;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}
.profile-container {
  position: absolute;
  bottom: 10px; /* Adjust distance from bottom */
  left: 0px; /* Adjust distance from left */
  padding: 20px;
  border-radius: 10px;
  color: white;
  /* width: 250px; Adjust width as needed */
}

.profile-container h5 {
  font-size: 1.5rem;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin: 0 0 10px 0; /* Add margin below the header */
  font-weight: bold;
  /* margin-bottom: 20px; */

}

.profile {
  display: flex;
  align-items: center;
  margin-top: 20px;
}


.profile-picture {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ccc; /* Placeholder background color */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Add margin to the right of the image */
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.profile-name,
.profile-email {
  margin: 0; /* Remove margin for tighter layout */
}

.profile-name {
  font-weight: bold;
  margin-bottom: 5px; /* Add margin below the name */
}

.profile-container .logout {
  margin-top: 20px; /* Add margin above the logout button */
  display: flex;
  justify-content: center; /* Center the logout button */
  
}
.logout-link {
  text-decoration: none; /* Remove underline from link */
}


.logout-button {
  background-color: rgb(230, 230, 230);
  border: 2px solid transparent; /* Set initial border to 2px solid transparent */
  font-size: 1.3rem;
  color: #1d2634;
  padding: 1px 75px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  gap: 10px; /* Space between icon and text */
  
}

.profile-container .logout-button:hover {
  background-color: transparent;
  border: 2px solid #ccc; /* Maintain 2px border */
  color: #fff;
}

.logout-button span {
  font-size: 1.2rem; /* Adjust icon size */
}



/* Main */
/* .main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px;
  color: rgba(255, 255, 255, 0.95);
} */
/* 
.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin: 15px 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

.card.occupied {
  background-color: rgba(213, 0, 0, 0.1);
  border: 5px solid #d50000;
}

.card.not-occupied {
  background-color: rgba(46, 125, 50, 0.1);
  border: 5px solid #2e7d32;
}

.card.not-occupied:hover {
  background-color: rgba(46, 125, 50, 0.1);
  transform: translateY(-5px);
  border-radius: 50px;
}

.card.occupied:hover {
  background-color: rgba(213, 0, 0, 0.1);
  transform: translateY(-5px);
  border-radius: 50px;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.card_icon {
  font-size: 25px;
}

.card.occupied .card_icon {
  color: #d50000;
}

.card.not-occupied .card_icon {
  color: #2e7d32;
}

.frame-price,
.time-price {
  font-size: 18px;
  width: 100%;
  text-align: right;
  color: #ccc;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ac {
  flex: 1;
  text-align: left;
  font-size: xx-small;
  color: #ccc;
}

.price {
  flex: 2;
  text-align: right;
} */

/* Media Queries */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}

@media screen and (min-width: 993px) {
  .grid-container {
    grid-template-columns: 260px 1fr;
    grid-template-rows: 0fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
  }

  #sidebar {
    display: block;
  }

  .menu-icon {
    display: none;
  }

  .sidebar-title > span {
    display: none;
  }

  .sidebar-responsive {
    display: block !important;
  }
}


