* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  background-color: #f5f7ff;
} */


.checkbox-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /*Vertically center the form*/
  /* margin-top: 10px; Spacing from the top */
}

.chechkbox-container {
  width: 450px;
  height: 350px;
  padding: 28px;
  border-radius: 10px;
  /* overflow: hidden; */
  background: transparent;
  border: 3px solid white; /* White border */
  /* margin-top: 10px; Spacing from the top */
  backdrop-filter: blur(5px) saturate(90%);
}

.chechkbox-container h6{
  text-align: center;
  font-size: 30px;
  border-bottom: 3px solid #fff;
  padding-bottom: 10px;
  font-weight: 500;
}
.section {
  width: 100vmin;
  height: 100vh;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.section .tile {
  height: 200px;
  width: 170px;
  position: relative;
  margin-top: 70px;
  
}

.section input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  border: 4px solid #bdbdbd;
  outline: none;
  box-shadow: 15px 15px 25px rgba(2, 28, 53, 0.05);
}

/* .section input[type="checkbox"]:after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f111";
  font-size: 22px;
  top: 10px;
  left: 10px;
  color: #e2e6f3;
} */

.section input[type="checkbox"]:hover {
  transform: scale(1.08);
  border: 4px solid #25a129;
}

.section .tile:hover .fas,
.section .tile:hover h4 {
  /* animation: grow 0.5s; */
  transform: scale(1.08);
  color: #25a129;
}

.section input[type="checkbox"]:checked {
  border: 4px solid #25a129;
}

/* .section input[type="checkbox"]:checked:after {
  font-weight: 900;
  content: "\f058";
  color: #25a129;
  
} */

.section label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 80%;
  width: 100%;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}


.section label .fas {
  font-size: 80px;
  color: #fff;
}

.section input[type="checkbox"]:checked + label .fas {
  animation: grow 0.5s;
  color: #25a129;
}

@keyframes grow {
  50% {
    font-size: 120px;
  }
}

.section label h4 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}



.section input[type="checkbox"]:checked + label h4 {
  /* animation: grow 0.5s; */
  color: #25a129;
}

