.booking-details {
  margin: 20px auto;
  padding: 20px;
  width: 90%; /* Ensures it takes up full width up to max-width */
  height: 91%;
  background-color: transparent;
  /* border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.booking-details h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.booking-details table {
  width: 100%;
  border-collapse: collapse;
}

.booking-details table td {
  padding: 10px 15px;
  border: 1px solid #ddd;
  vertical-align: top;
  padding-left: 15px; /* Adjust padding as needed */
}

.booking-details table td:first-child {
  font-weight: bold;
  width: 25%;
}

.booking-details table td:nth-child(even) {
  width: 25%;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .booking-details {
    padding: 10px;
  }

  .booking-details h2 {
    font-size: 20px;
  }

  .booking-details table td {
    padding: 8px;
  }
}

.table-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px; /* Adjust margin as needed */
}

.table-btn button{
  background-color: transparent;
  font-size: 15px;
  color: white;
  padding: 8px 12px;
  border: 2px solid #45a049;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

}

.table-btn button:hover{
  background-color: #45a049;
}