.main-container {
    padding: 20px;
  }
  
  .main-title {
    margin-bottom: 20px;
  }
  
  .main-cards {
    display: flex;
    gap: 10px;
  }
  
  .card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
  }
  
  .card.occupied {
    background-color: red;
  }
  
  .card.not-occupied {
    background-color: green;
  }
  
  .card_icon {
    font-size: 24px;
  }
  
  .form-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  